<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-center mt-2">
        <a routerLink="">Accueil</a>
      </div>
      <div class="col-md-3 text-center mt-2">
        <a routerLink="/map">Map</a>
      </div>
      <div class="col-md-3 text-center mt-2">
        <a routerLink="/conditions-generales-utilisation">CGU</a>
      </div>
      <div class="col-md-3 text-center mt-2 ">
        <a routerLink="mentions-legales">Mentions légales</a>
      </div>
    </div>
    <div class="h2 col text-center copyright">
      &#9426; ecoglass.courboisalexandre {{date}}. Tous droits réservés.
    </div>
  </div>
</footer>
