<footer>
  <div class="row">
    <div class="col-md-3 text-center first">
      <a routerLink="">Accueil</a>
    </div>
    <div class="col-md-3 text-center">
      <a routerLink="/map">Map</a>
    </div>
    <div class="col-md-3 text-center">
      <a routerLink="/conditions-generales-utilisation">CGU</a>
    </div>
    <div class="col-md-3 text-center last">
      <a routerLink="mentions-legales">Mentions légales</a>
    </div>
  </div>
  <div class="h2 col text-center copyright" style="font-size: 16px; color: black; font-weight: bold">
    &#9426; ecoglass.courboisalexandre {{date}}. Tous droits réservés.
  </div>
</footer>
