.background {
  padding-bottom: 100px;
}

.container{
  padding-top: 150px;
}

label,input{
  width: 100%;
}

input {
  border: none;
  height: 40px;
  color: rgba(000,000,000,0.6);
  font-weight: bolder;
  background: #FAFAFA;
}

.userInfs {
  letter-spacing: 2px;
  margin-top: 2%;
  font-size: 24px;
  font-weight: bolder;
}

.labelForm {
  font-weight: 600;
  color: rgba(000,000,000,0.9);
}

button{
  margin: 5% 0;
}

.colonne {
  background: white;
  width: 100%;
}

.col1 {
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}

.col2 {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.col-md-12 {
  margin-top: 3%;
  background: white;
  border-radius: 25px;
}

.col12modal {
  margin-top: 0%;
  border-radius: 0px;
  background: #FAFAFA;
}

.errorPassword{
  margin-top: 0%;
  padding-bottom: 2%;
  border-radius: 0px;
  background: #FAFAFA;
}

.buttonPwdContainer{
  margin-bottom: 3%;
}

.buttonPwd {
  margin: 0 0;
}

.updatePwd {
  margin-top: 3%;
  font-size: 20px;
  color: rgba(000,000,000,0.6);
}

.container-error {
  margin: 3% 0;
}

.form-group{
  margin-top: 2%;
}

@media (max-width: 767px) {
  .rowForm {
    padding-bottom: 15%;
  }
}

@media (max-width: 435px) {
  .rowForm {
    padding-bottom: 25%;
  }
}

@media (max-width: 384px) {
  .rowForm {
    padding-bottom: 35%;
  }
}

@media (max-width: 340px) {
  .rowForm {
    padding-bottom: 50%;
  }
}

