.container{
  padding-top: 150px;
}

label,input{
  width: 100%;
}

input {
  border: none;
  height: 40px;
  color: rgba(000,000,000,0.6);
  font-weight: bolder;
  background: #FAFAFA;
}

.userInfs {
  letter-spacing: 2px;
  margin-top: 2%;
  font-size: 24px;
  font-weight: bolder;
}

.labelForm {
  font-weight: 600;
  color: rgba(000,000,000,0.9);
}

button{
  margin: 5% 0;
}

.colonne {
  background: white;
  width: 100%;
}

.col1 {
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}

.col2 {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.col-md-12 {
  margin-top: 3%;
  background: white;
  border-radius: 25px;
}

.buttonPwdContainer{
  margin-bottom: 3%;
}

.buttonPwd {
  margin: 0 0;
}

.updatePwd {
  margin-top: 3%;
  font-size: 20px;
  color: rgba(000,000,000,0.6);
}
