<body>
<div class="container-fluid">
  <div class="container">
    <div class="row justify-content-center">
      <form class="text-center">
        <p>Dites-nous tout <i class="fab fa-telegram-plane"></i></p>
        <div class="form-group">
          <input placeholder="Prenom" type="text" name="prenom" id="prenom" class="form-control inputField"
                 formControlName="prenom">
        </div>
        <div class="form-group">
          <input placeholder="Nom" type="text" name="nom" id="nom" class="form-control inputField"
                 formControlName="nom">
        </div>
        <div class="form-group">
          <input placeholder="Email" type="text" name="email" id="email" class="form-control inputField"
                 formControlName="email">
        </div>
        <div class="form-group">
          <textarea name="message" id="message" placeholder="Votre message" formControlName="message" cols="20" rows="5"></textarea>
        </div>
        <input class="btn btn-success" type="submit" value="Envoyer">
      </form>
    </div>
  </div>
</div>
</body>
