<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" routerLink=""><img src="../../../assets/image/LogoEcoGlass.png"
                                               alt="Une main tenant un arbre en pousse entouré d'un rond vert"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav text-center mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">ECOGLASS<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="map">MAP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact">CONTACT</a>
        </li>
      </ul>
      <span class="navbar-text">
        <div *ngIf="logged === false; else trueTemp">
          <div class="btn-group btnContainerLoginDrop">
            <button class="btnLoginDrop" id="dropdownMenuButton" data-toggle="dropdown">
              <i class="fas fa-sign-in-alt"></i>
            </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" routerLink="register">Inscription</a>
            <a class="dropdown-item" routerLink="login">Connexion</a>
          </div>
        </div>
        </div>
        <ng-template #trueTemp>
          <div class="btn-group btnContainerLoginDrop">
            <button class="btnLoginDrop" id="dropdownMenuButton" data-toggle="dropdown">
              <i class="far fa-user"></i>
            </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item disabled text-center">{{surname | uppercase}}</a>
            <hr>
            <a class="dropdown-item" routerLink="user-point">MES RECOMPENSES</a>
            <a class="dropdown-item" routerLink="user-profil">MES INFORMATIONS </a>
            <a class="dropdown-item" (click)="logOut()">DECONNEXION</a>
          </div>
        </div>
      </ng-template>
    </span>
    </div>
  </nav>
</header>
