<div class="backGround">
  <div style="position: relative; top: 500px">
    <ngx-ui-loader [hasProgressBar]="false" [loaderId]="'loader-01'"></ngx-ui-loader>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3"></div>

      <div class="col-md-3 col col1">
        <div class="text-left text1">
          <p>Plus que quelques </p>
        </div>
        <div class="text2 ">
          <p>cliques pour</p>
        </div>
        <div class="text-right text3">
          <p>Retrouver votre compte !</p>
        </div>
      </div>
      <div class="col-md-3 col col2">
        <div class="containerForm">
          <div class="text-center">
            <p class="txtForm">Renseignez votre nouveau mot de passe !</p>
            <p class="mt-5 txtForm2">*Un dont vous vous souviendrez de préfèrence ! <i class="far fa-laugh-wink"></i></p>
          </div>
          <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-group mt-5">
              <input placeholder="Votre nouveau mot de passe" type="password" name="password" id="password"
                     class="form-control"
                     formControlName="password">
            </div>
            <div class="container-error">
              <div class="error" *ngIf="submitted && f.password.errors && f.password.errors.required">Merci de
                renseigner
                votre mot de passe.
              </div>
              <div class="error"
                   *ngIf="forgotPasswordForm.get('password')?.value && f.password.errors && f.password.errors.pattern">
                Doit contenir au moins, 8 caractères, une lettre majuscule, un chiffre et un caractère spécial.
              </div>
            </div>
            <div class="form-group mt-5">
              <input placeholder="Confirmer votre nouveau mot de passe" type="password" name="verifPassword"
                     id="verifPassword"
                     class="form-control"
                     formControlName="verifPassword">
            </div>
            <div class="text-center mt-5">
              <button type="submit" [disabled]="clicked === true" class="btn btn-success btnSubmit">Enregistrer !</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>

</div>

