<div class="container">
  <h2 class="h4">Mes points collectés</h2>
  <small class="text-muted">Pensez à scanner le code QR sur le container lorsque que vous y déposer votre verre pour gagner des cadeaux exclusifs</small>

  <div class="row">
    <div class="col"></div>
    <div class="col">
      <div class="progress mt-5" style="height: 25px">
        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25 points</div>
      </div>
    </div>
    <div class="col"></div>
  </div>
  <div class="reward shadow mt-5 py-5 px-4 rounded">
    <div class="row">
      <span class="ml-5">20 points</span> <span class="badge badge-success ml-auto mr-5">Débloqué <i class="far fa-check-circle"></i></span>
    </div>
    <div class="row mt-2">
      <div class="col"></div>
      <div class="col">
        <div class="card bg-light mt-2">
          <img class="card-img-top" src="assets/image/ticketbuslyon.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">1 Ticket de transport en commun</h5>
            <p class="card-text">Ce ticket vous permet d'utiliser n'importe quelle transport en commun dans votre ville, il est valable 1 heure après utilisation</p>
            <a href="#" class="btn btn-primary disabled">Obtenir ma récompense</a>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>

  <div class="reward shadow mt-5 py-5 px-4 rounded">
    <div class="row">
      <span class="ml-5">50 points</span> <span class="badge badge-secondary ml-auto mr-5">Pas encore débloqué <i class="fas fa-lock"></i></span>
    </div>
    <div class="row mt-2">
      <div class="col"></div>
      <div class="col">
        <div class="card bg-light mt-2">
          <img class="card-img-top" src="assets/image/ticketcinema.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">1 place de cinéma</h5>
            <p class="card-text">Une place cinéma à utiliser dans un cinéma de votre choix dans votre ville</p>
            <a href="#" class="btn btn-secondary disabled">Pas assez de points</a>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>

  <div class="reward shadow mt-5 py-5 px-4 rounded">
    <div class="row">
      <span class="ml-5">100 points</span> <span class="badge badge-secondary ml-auto mr-5">Pas encore débloqué <i class="fas fa-lock"></i></span>
    </div>
    <div class="row mt-2">
      <div class="col"></div>
      <div class="col">
        <div class="card bg-light mt-2">
          <img class="card-img-top" src="assets/image/fastfood.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">1 repas dans un fast-food</h5>
            <p class="card-text">1 repas offert dans le fast food de votre choix</p>
            <a href="#" class="btn btn-secondary disabled">Pas assez de points</a>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>

  <div class="reward shadow mt-5 py-5 px-4 rounded">
    <div class="row">
      <span class="ml-5">150 points</span> <span class="badge badge-secondary ml-auto mr-5">Pas encore débloqué <i class="fas fa-lock"></i></span>
    </div>
    <div class="row mt-2">
      <div class="col"></div>
      <div class="col">
        <div class="card bg-light mt-2">
          <img class="card-img-top" src="assets/image/bondachatl.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">1 bon d'achat de 40€</h5>
            <p class="card-text">1 bon d'achat de 40€ à dépenser chez les commerçants partenaires</p>
            <a href="#" class="btn btn-secondary disabled">Pas assez de points</a>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>

