.container-fluid {
  padding-top: 150px;
  height: 100%;
}
#map {
  width: 100%;
  height: 80vh;
  background-color: transparent;
  border-radius: 15px;
}

:host ::ng-deep .mapboxgl-canvas {
  outline: none !important; }
