<body>
<div class="container-fluid">
  <div class="container mb-3">
    <div class="geocoder form-group" id="geocoder"></div>
  </div>
  <div class="row">
    <div class="col-xl-2">
      <div class="sidebar">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Les bennes à verre les plus proches de chez vous</h5>
            <ul class="list-group list-group-flush">
              <div id="listings" class="listings"></div>
            </ul>

          </div>
        </div>

      </div>
    </div>
    <div class="col-xl-10">
      <div class="map" #mapElement></div>
    </div>
  </div>



</div>
</body>
