<div class="container">
  <div class="row">
    <div class="col col1">
    </div>
    <div class="col col2">
      <div><p class="text-center joinUs">REJOIGNEZ-NOUS !</p></div>
      <form>
        <div class="form-group">
          <input placeholder="prenom" type="text" name="prenom" id="prenom" class="form-control">
        </div>
        <div class="form-group">
          <input placeholder="nom" type="text" name="nom" id="nom" class="form-control">
        </div>
        <div class="form-group">
          <input placeholder="email" type="text" name="email" id="email" class="form-control">
        </div>
        <div class="form-group">
          <input placeholder="adresse" type="text" name="adresse" id="adresse" class="form-control">
        </div>
        <div class="form-group">
          <input placeholder="ville" type="text" name="ville" id="ville" class="form-control">
        </div>
        <div class="form-group">
          <input placeholder="Code postal" type="text" name="postalcode" id="postalcode" class="form-control">
        </div>
        <div class="form-group">
          <input placeholder="Mot de passe" type="password" name="password" id="password" class="form-control">
        </div>
        <div class="form-group">
          <input placeholder="Confirmer votre mot de passe" type="password" name="verifPassword" id="verifPassword"
                 class="form-control">
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-success">Bienvenue !</button>
        </div>
      </form>
    </div>
  </div>
</div>
