<div class="container-fluid containerTop">
  <div class="container-xl containerTop2">
    <div class="row">
      <div class="col-md-6">
      </div>
      <div class="col-md-6 text-right colright">
        <h1>Ecoglass</h1>
        <p class="p1">Un geste citoyen</p>
        <p class="p1">qui nous avantage tous.</p>
        <p class="p1" id="rollMenu">{{rollMenu}}</p>
        <div routerLink="/register" class="btn btn-primary btnJoin">Rejoignez-nous !</div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid containerSelect">
  <div class="row">
    <div class="col-md-3 colSelect text-left">
      <p (click)="setMap('showRegister')" class="select mt-5 mb-5" id="showRegister"><i class="fas fa-play mr-5 pl-3"></i>Inscription</p>
      <p (click)="setMap('showMap')" id="showMap" class="select mt-5 mb-5"><i class="fas fa-play mr-5 pl-3"></i>Map</p>
      <p (click)="setMap('showProfil')" class="select mt-5 mb-5"><i class="fas fa-play mr-5 pl-3"></i>Profil</p>
    </div>
    <div class="col-md-6" >
      <div class="container-image" id="containerImg">

      </div>
    </div>
    <div class="col-md-3 colSelect">
      <p (click)="setMap('showAdvantage')"class="select mt-5 mb-5"><i class="fas fa-play mr-5 pl-3"></i>Avantages</p>
      <p (click)="setMap('showAdvantage')"class="select mt-5 mb-5"><i class="fas fa-play mr-5 pl-3"></i>Récompenses</p>
      <p (click)="setMap('showTeam')" class="select mt-5 mb-5"><i class="fas fa-play mr-5 pl-3"></i>Equipe</p>
    </div>
  </div>
</div>
<div class="container-fluid background">
  <div class="container-xl forEveryoneContainer">
    <div class="container forEveryone">
      <div class="text-center">
        <h3 class="title">EcoGLass un site pour tous !</h3>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p class="text-left forEveryonep">Etudiant</p>
          <div class="text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aut debitis dolore inventore maxime repudiandae, tempore? Cum debitis ex, exercitationem explicabo minima odit quos voluptas?
          </div>
        </div>
        <div class="col-md-4">
          <p class="text-left forEveryonep">Particulier</p>
          <div class="text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda commodi cumque dolore error id nihil nisi? Cupiditate, deleniti dolor est officia sunt tempora unde velit.
          </div>
        </div>
        <div class="col-md-4">
          <p class="text-left forEveryonep">Entreprise</p>
          <div class="text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam cumque dolore et laudantium odit officiis quasi, velit. Aperiam deserunt dolor facilis iusto minima? Architecto, ex.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row rowCards">
    <div class="col-md-4 col-sm d-flex align-items-stretch">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/image/home/Cards/undraw_online_wishes_dlmr.svg" alt="Card image cap">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Il fait bon vivre chez vous !</h5>
          <p class="card-text">Grace au partenariat dont nous disposons avec votre métropole, vous obtenez des bonus !</p>
          <a routerLink="presentation-produit" class="btn btn-success mt-auto">Découvrir</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm d-flex align-items-stretch">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/image/home/Cards/undraw_Eco_conscious_re_r2bs.svg" alt="Card image cap">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Recycagle</h5>
          <p class="card-text">Participer de manière active au recyclage des déchets au sein de votre métropole ! Et en plus profitez-en !</p>
          <a routerLink="presentation-produit" class="btn btn-success mt-auto">Voir les avantages</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm d-flex align-items-stretch">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/image/home/Cards/undraw_stand_out_1oag.svg" alt="Card image cap">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Notre équipe</h5>
          <p class="card-text">Découvrez qui nous sommes et notre parcours ! Nos objectifs, nos valeurs et ceux vers quoi nous souhaitons évoluer !</p>
          <a routerLink="notre-equipe" class="btn btn-success mt-auto">Nous découvrir !</a>
        </div>
      </div>
    </div>
  </div>
</div>
