
<div class="container-fluid containerTop">
  <div class="container-xl">
    <div class="row">
      <div class="col-md-6">
      </div>
      <div class="col-md-6 text-right colright">
        <h1>Ecoglass</h1>
        <p>Un geste citoyen</p>
        <p>qui nous avantage tous.</p>
        <p id="rollMenu">{{rollMenu}}</p>
        <div routerLink="/register" class="btn btn-primary btnJoin">Rejoignez-nous !</div>
      </div>>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row rowCards">
    <div class="col-md-4 col-sm d-flex align-items-stretch">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/image/home/Cards/undraw_online_wishes_dlmr.svg" alt="Card image cap">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Il fait bon vivre chez vous !</h5>
          <p class="card-text">Grace au partenariat dont nous disposons avec votre métropole, vous obtenez des bonus !</p>
          <a href="#" class="btn btn-success mt-auto">Découvrir</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm d-flex align-items-stretch">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/image/home/Cards/undraw_Eco_conscious_re_r2bs.svg" alt="Card image cap">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Recycagle</h5>
          <p class="card-text">Participer de manière active au recyclage des déchets au sein de votre métropole ! Et en plus profitez-en !</p>
          <a href="#" class="btn btn-success mt-auto">Voir les avantages</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm d-flex align-items-stretch">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/image/home/Cards/undraw_stand_out_1oag.svg" alt="Card image cap">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Notre équipe</h5>
          <p class="card-text">Découvrez qui nous sommes et notre parcours ! Nos objectifs, nos valeurs et ceux vers quoi nous souhaitons évoluer !</p>
          <a href="#" class="btn btn-success mt-auto">Nous découvrir !</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="container-xl">

  </div>
</div>

