.font-face {

}

.global {
  padding: 150px 0;
}
.container-product {
  background-color: white;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  border: white 1px solid;
  border-radius: 25px;
  box-shadow: 0 0 25px 5px rgb(173 156 156);
}

.product-title {
  text-align:center;
}

.product-text {
  text-align: center;
  margin-top: 50px;
  line-height: 35px;
}

.section2 {
  display: grid;
  width: 80%;
  margin: 100px auto 0 auto;
}

.section2 img {
  grid-column: 1;
  margin: 0 auto;
}

.section2 h3, .para1-product {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
  margin-top: 30px;
}

.para1-product {
  margin-top: 95px;
  line-height: 35px;

}

.para2-product {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
  margin-top: 170px;
  line-height: 35px;
  color: red;
}

.section3 {
  margin-top: 100px;
}

.product-subtitle {
  text-align: center;
}

.win-text {
  text-align: center;
  font-size: 1.3em;
  margin-top: 50px;
}

.center {
  width: 50%;
  margin: 0 auto;
}

.img-tableau {
  width: 100%;
}

.img-background {
  width: 50%;
  margin: 0 auto;
}

.background-product {
  width: 50%;
}

.container-content {
  width:60%;
  height: 2000px;
  background-color: white;
  margin: 0 auto;
  opacity: 80%;
}
