<div class="global">
  <div class="container-product">
    <section class="section1">
      <h1 class="product-title">Récompenses</h1>
      <p class="product-text">Vous utilisez les bennes à verre <strong>5 à 6 fois par mois</strong> en moyenne et contribuez à <strong>préserver notre environnement !</strong><br>
        <span class="span-product">Comment nous le savons ?</span> Une récente étude de l’agglo l’a démontré. <br>

        Puisqu’un simple « Merci » ou « Félicitation » <strong>ne suffirait pas</strong> à vous remercier nous souhaitons vous <strong>récompenser.</strong>
        <br>
        De ce fait, et en partenariat avec l’agglo, nous avons développé <strong>un système de point.</strong> <br> Selon le nombre de point, l’agglo accorde une <strong>récompense.</strong> </p>
    </section>

    <section class="section2">
      <img src="assets/image/benne-product.png" alt="image du QR code sur une benne">
      <h3 class="product-subtitle">Comment ça marche ?</h3>
      <p class="para1-product">Nous avons doté l’intégralité des bennes à verre de la ville d’un QR Code, <br> en flashant ce QR Code, un point est ajouté automatiquement à votre compte EcoGlass. </p>
      <p class="para2-product">Pour éviter tout abus, nous avons limité l'utilisation du QR Code à 10 par mois. <br>De plus, le QR Code doit être scanné avant de jeter ses déchets,
        <br>un pèse-charge placé sous la benne pèsera vos déchets <br>et le point sera décerné si (et seulement si) la balance détermine un changement de poids.</p>
    </section>

    <section class="section3">
      <h3 class="product-subtitle">On gagne quoi ?</h3>
      <p class="win-text">Voici le tableau des récompenses : </p>
      <div class="center">
        <img class="img-tableau" src="assets/image/tableau-prix.png" alt="tableau des gains">
      </div>
    </section>

  </div>
</div>
