<div class="global">
  <div class="backgroundgroup">
    <img class="background" src="assets/image/undraw_Nature_fun_re_iney.svg" alt="">
  </div>
  <div class="container-product">
    <section class="section1">
      <div class="div-img-title">
      <img class="titre-image" src="assets/image/points.png" alt="titre image page récompense">
      </div><p class="product-text">Vous utilisez les bennes à verre <strong>5 à 6 fois par mois</strong> en moyenne et contribuez à <strong>préserver notre environnement !</strong><br>
        <span class="span-product">Comment le savons-nous ?</span> Une étude récente de l’agglomération l’a démontrée. <br>

        Puisqu’un simple « Merci » ou « Félicitations » <strong>ne suffit pas</strong> à vous remercier nous souhaitons vous <strong>récompenser.</strong>
        <br>
        De ce fait, et en partenariat avec votre agglomération, nous avons développé <strong>un système de point.</strong> <br> Selon le nombre de point, vous bénéficiez de <strong>récompenses.</strong> </p>
    </section>

    <section class="section2">
      <img src="assets/image/benne-product.png" alt="image du QR code sur une benne">
      <h3 class="product-subtitle">Comment ça marche ?</h3>
      <p class="para1-product">Nous avons doté l’intégralité des bennes à verre de la ville d’un QR Code. En flashant ce QR Code, un point est ajouté automatiquement à votre compte EcoGlass. </p>
    </section>

    <section class="section3">
      <h3 class="product-subtitle">On gagne quoi ?</h3>
      <p class="points">25 <i class="fas fa-wine-bottle"></i> = 1 ticket de transport en commun</p>
      <p class="points">50 <i class="fas fa-wine-bottle"></i> = 1 place de cinéma</p>
      <p class="points">100 <i class="fas fa-wine-bottle"></i> = 1 fast food au choix offert</p>
      <p class="points">150 <i class="fas fa-wine-bottle"></i> = 1 bon d'achat de 40€ à dépenser chez les commerçants partenaires</p>
    </section>

    <section>
      <h3 class="warning">Important :</h3>
      <p class="para2-product">Pour éviter tout abus, nous avons limité l'utilisation du QR Code à 10 par mois. <br>De plus, le QR Code doit être scanné avant de jeter ses déchets,
        <br>Un pèse-charge placé sous la benne pèsera vos déchets <br>et le point sera décerné si (et seulement si) la balance détermine un changement de poids et si <br> le scanner placé dans la benne détecte bien le fait que ce soit du verre qui est jeté !</p>
    </section>

  </div>
</div>
