<div class="global">
  <div class="backgroundgroup">
    <img class="background" src="assets/image/undraw_team_work_k80m.svg" alt="">
  </div>
  <div class="container-product">
    <section class="section1">
      <div class="div-img-title">
        <img class="titre-image" src="assets/image/team-page.png" alt="titre image page récompense">
      </div>
    </section>

    <section class="section2">
      <div class="grid1">
        <img src="assets/image/alex.jpeg" alt="Photo de Alexandre Courbois"/>
        <p class="who">Alexandre Courbois</p>
        <p class="what">Développeur Back&Front<br>Chef de projet <br> Back&Front<br>API Symfony & Angular Front/Script <br> Gestion production</p>
      </div>
      <div class="grid2">
        <img src="assets/image/Pierre.jpeg" alt="Photo de Pierre Halavent"/>
        <p class="who">Pierre Halavent</p>
        <p class="what">Développeur Back&Front<br>Co-leader<br>Angular Géolocalisation <br> Crontab API</p>
      </div>
      <div class="grid3">
        <img src="assets/image/mathis.jpeg" alt="Photo de Mathis Houlet"/>
        <p class="who">Mathis Houlet</p>
        <p class="what">Développeur Front<br>Administratif<br>Angular Front</p>
      </div>
      <div class="grid4">
        <img src="assets/image/thibault.jpeg" alt="Photo de Thibault Hale"/>
        <p class="who">Thibault Hale</p>
        <p class="what">Designer et Graphiste <br> Images et design</p>
      </div>
    </section>

  </div>
</div>
